.course__item {
  background-color: eee;
  a.subcribe_button {
    text-decoration: none !important;
    color: black !important;
  }
  a.subcribe_button:hover {
    color: $color-1 !important;
  }
}
