.navbar__wrapper {
  z-index: 1;
  max-height: 65px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  justify-content: space-between;
  .navbar {
    padding: 0 !important;
    img {
      max-width: 180px;
      height: auto;
      margin: 0 20px;
    }
  }
  .navbar__item {
    position: relative;
    padding: 0 12px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background: 0 0;
    border: 0;
    color: rgba(0, 0, 0, 0.4) !important;
    .navbar_item_icon {
      display: inline-block;
      overflow: hidden;
      position: relative;
      font-size: 1.5rem;
    }
    .navbar_item_text {
      display: flex;
      font-size: 0.8rem;
    }
    .dropdown-toggle::after {
      display: none !important;
    }
  }
  .nav-link {
    color: rgb(34, 33, 33);
    border: none;
  }

  .form-group {
    width: 450px !important;
    input {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      display: flex;
      width: 90%;
      background: #f1f1f1;
    }
  }
  .nav_button_1 {
    padding: 5px 15px;
    margin-right: 20px;
    border-radius: 3px;
    background: linear-gradient(to right, $color-1, $color-2);
    color: white;
    font-weight: bold;
    border: none;
  }
  .nav_button_2 {
    padding: 5px 15px;
    margin-right: 20px;
    border-radius: 3px;
    background: linear-gradient(to right, $color-2, $color-3);
    color: white;
    font-weight: bold;
    border: none;
  }
}
@media (max-width: 1200px) {
  .navbar__wrapper {
    .navbar__item {
      display: block;
      position: relative;
      .navbar_item_icon {
        display: none;
      }
      .navbar_item_text {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.7) !important;
        font-family: inherit;
        font-weight: normal;
      }
    }
    .navbar__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .nav_button_1 {
      display: block;
      color: rgba(0, 0, 0, 0.7) !important;
      background: transparent;
      font-size: 1rem;
      font-weight: normal;
      padding: 5px 12px;
      position: relative;
    }
    .nav_button_1::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .nav_button_2 {
      display: block;
      color: rgba(0, 0, 0, 0.7) !important;
      background: transparent;
      font-size: 1rem;
      font-weight: normal;
      padding: 5px 12px;
      position: relative;
    }
    .nav_button_2::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
  }
  .form-inline {
    display: none !important;
  }
}
